In [1]:
class Employee:
    
    raise_amnt = 1.04
    
    def __init__(self,firstName,lastName,email,pay):
        
        self.firstName = firstName
        self.lastName = lastName
        self.email = email
        self.pay = pay
    
    def fullname(self):
        return '{} {}'.format(self.firstName, self.lastName)
    
    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amnt)

In [2]:
emp_1 = Employee("Martin","Lane","martin.lane@clarusway.com",4000)

In [3]:
print(emp_1.firstName)

Martin

In [4]:
print(emp_1.lastName)

Lane

In [5]:
print(emp_1.email)

martin.lane@clarusway.com

In [6]:
emp_1 = Employee("Martin","Lane","martin.lane@clarusway.com",4000)

In [7]:
print(emp_1.raise_amnt)

1.04

In [8]:
Employee.raise_amnt = 1.06

In [9]:
print(Employee.raise_amnt)

1.06

In [10]:
print(emp_1.raise_amnt)

1.06

In [11]:
emp_1.raise_amnt = 1.07

In [12]:
print(emp_1.raise_amnt)
print(Employee.raise_amnt)

1.07
1.06

In [13]:
emp_2 = Employee("Martin2","Lane2","martin@clarusway.com",5000)

In [14]:
print(emp_2.raise_amnt)
print(Employee.raise_amnt)

1.06
1.06

In [15]:
print(emp_1.__dict__)

{'firstName': 'Martin', 'lastName': 'Lane', 'email': 'martin.lane@clarusway.com', 'pay': 4000, 'raise_amnt': 1.07}

In [16]:
emp_1.apply_raise()
emp_2.apply_raise()

In [17]:
print(emp_1.pay)
print(emp_2.pay)

4280
5300

In [18]:
class Employee:
    
    raise_amnt = 1.04
    
    def __init__(self,firstName,lastName,email,pay):
        
        self.firstName = firstName
        self.lastName = lastName
        self.email = email
        self.pay = pay
    
    def fullname(self):
        return '{} {}'.format(self.firstName, self.lastName)
    
    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amnt)
        
    @classmethod
    def set_raise_amt(cls,amount):
        cls.raise_amnt = amount

In [19]:
emp_1 = Employee("Martin","lane","martin@clarusway.com",4000)
emp_2 = Employee("Martin2","lane","lane@clarusway.com",5000)

In [20]:
Employee.set_raise_amt(1.10)

In [21]:
print(Employee.raise_amnt)
print(emp_1.raise_amnt)
print(emp_2.raise_amnt)

1.1
1.1
1.1

In [22]:
Employee.raise_amnt = 2

In [23]:
print(Employee.raise_amnt)
print(emp_1.raise_amnt)
print(emp_2.raise_amnt)

2
2
2

In [24]:
class Employee:
    
    raise_amnt = 1.04
    
    def __init__(self,firstName,lastName,email,pay):
        
        self.firstName = firstName
        self.lastName = lastName
        self.email = email
        self.pay = pay
    
    def fullname(self):
        return '{} {}'.format(self.firstName, self.lastName)
    
    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amnt)
        
    @classmethod
    def set_raise_amt(cls,amount):
        cls.raise_amnt = amount
        
    @classmethod
    def from_string(cls,emp_str):
        firstName, lastName, email, pay = emp_str.split('-') 
        return cls(firstName,lastName,email,pay)

In [25]:
emp_str_1 = "Martin-Lane-matin@clarusway.com-5000"

In [26]:
new_emp_1 = Employee.from_string(emp_str_1)

In [27]:
print(new_emp_1.email)

matin@clarusway.com

In [28]:
new_emp = Employee(new_emp_1.firstName,new_emp_1.lastName,new_emp_1.email,new_emp_1.pay)

In [29]:
print(new_emp.email)

matin@clarusway.com

In [30]:
class Employee:
    
    raise_amnt = 1.04
    
    def __init__(self,firstName,lastName,email,pay):
        
        self.firstName = firstName
        self.lastName = lastName
        self.email = email
        self.pay = pay
    
    def fullname(self):
        return '{} {}'.format(self.firstName, self.lastName)
    
    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amnt)
        
    @classmethod
    def set_raise_amt(cls,amount):
        cls.raise_amnt = amount
        
    @classmethod
    def from_string(cls,emp_str):
        firstName, lastName, email, pay = emp_str.split('-') 
        return cls(firstName,lastName,email,pay)
    
    @staticmethod
    def is_workday(date):
        if date.weekday()== 5 or date.weekday() == 6:
            return False
        return True

In [31]:
import datetime
my_date = datetime.date(2020,8,6)

In [32]:
print(Employee.is_workday(my_date))

True